.main{
    width: 330 px;
    padding: 8px;
    border-radius: 30px;
    background-color: whitesmoke;
}
input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 700px;
    margin: 5px;
    font-size: medium;
    color:#0b003f;
    height: 20px;
}
.icon-search{
    color:#0b003f;
    font-size: 25px;
    margin: 5px;
}

.icon-fav{
    color:whitesmoke;
    font-size: 25px;
}

.btn-search{
    background: transparent;
    border: 0px;
    outline: 0px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}